nav{
    border-radius: 10px;
    color: white;
}
body{
    color: white;
    
}
nav a{
     text-decoration:none;
   margin:10px;
   color: white;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 5px solid black;
    background-color: rgb(31, 41, 131);
    padding: 5px;
}
header img{
    width: 80px;
    border-radius: 100px;
    border: 6px solid black;
}
header h1{
    color:blue;
}
.about{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.about p{
    font-size: 20px;
    width: 250px;
}
.about img{
    width: 500px;
}
.products{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 10px;
    padding: 30px;
    position: relative;
}
.product{
    width: 200px;
    border:3px solid blue;
    text-align: center;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(23, 76, 155);
    padding: 15px;
    position: relative;
    min-height: 400px;
   
}
.product img{
    width: 150px;
    height: 170px;

    
}
.button{
    border:1px solid rgb(41, 41, 141);
    background-color: rgb(16, 18, 128);
    padding: 7px;
     position: absolute;
    bottom: 8px;
    border-radius: 25px;
    margin-top: 5px;
    color: white;
}
.button:hover{
    background-color: rgb(194, 75, 188);
}
.x{
    background-image: linear-gradient(rgb(17, 59, 81), rgb(59, 202, 212))
}
main img{
    width: 100%;
    border-radius: 20px;
}
.a{
    opacity: 1;
}
footer{
   background-image: linear-gradient(rgb(17, 59, 81), rgb(75, 110, 226));
   border: 9px solid black;
}
.end{
    display: flex;
    justify-content: space-around;
}
.end1 p:hover{
    color: black
}
.end3 p:hover{
    color: black
}
.end2 p:hover{
    color: black
}
.product:hover{
      background-color: rgb(14, 14, 133);
}
nav a:hover{
    color:rgb(51, 194, 230);
}
.imgx{
     background-image: url("https://learn.logikaschool.com/uploads/student/4612277/6877ce8d7088d.jpg");
    background-size: cover;
  background-position: center;
      height: 400px;
}

